.tile{
    box-sizing: border-box;
    flex-shrink: 0;
    width: calc(100%/8);
    height: calc(100%/8);
    min-width:calc(350px/8);
    min-height: calc(350px/8);
    display:flex;
    justify-content: center;
    align-items: center;
}

.w{
    background-color: #ebecd0a7;
}
.b{
    background-color:#779556;
}

.clicked {
    background-color: #ebc33c !important;
}

.check{
    background-color: rgb(213, 46, 46)!important;
}
